@font-face {
  font-weight: 500;
  font-family: Stolzl;
  src: url("/src/fonts/Stolzl/stolzl_medium.otf");
}

@font-face {
  font-weight: 400;
  font-family: Stolzl;
  src: url("/src/fonts/Stolzl/stolzl_book.otf");
}

@font-face {
  font-weight: 400;
  font-family: Verdana;
  src: url("/src/fonts/Verdana/Verdana.ttf");
}

$wrap: 1440px;
$container: 1090px;
$marg: 0 auto;
$black: #000;
$white: #fff;
$background: #f3f8fc;
$light-grey: #e7f1f9;
$blue: #b6d4ed;
$red: #ec133d;
$orange: #e9841d;
$green: #00a75c;

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  color: $black;
  background: $background;
}

@mixin section-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

@mixin shadow {
  box-shadow: 0 4px 4px -2px rgb(24 39 75 / 4%),
    0 2px 4px -2px rgb(24 39 75 / 6%);
}

h1 {
  font-family: Stolzl, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  margin-block: 0 0;
}

h2 {
  font-family: Stolzl, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  padding: 0;
  margin: 0;
  margin-left: 40px;
}

h4 {
  font-family: Stolzl, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin-block: 0 0;
}

li {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

.green {
  background: $green;
}

.orange {
  background: $orange;
}

.red {
  background: $red;
}

.blue {
  background: $blue;
}
