.max-width {
  max-width: 300px;
}

.container {
  max-width: 1090px;
  margin: 0;
  padding: 0;
}

.card-body {
  padding: 40px;
}

.card-rounded {
  border-radius: 40px;
}

.section-title__tooltip-info {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("/src/img/info.svg");
    background-size: cover;
  }
}

.section-title__tooltip-text {
  visibility: hidden;
  position: absolute;
  top: 25px;
  right: -80px;

  width: 200px;
  background-color: $background;
  padding: 5px;
  border-radius: 4px;

  z-index: 1;

  @include shadow;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  opacity: 0;
}

.section-title__tooltip-info:hover .section-title__tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tr-chart {
  position: relative;
  width: 160px;
  height: 160px;
  background: conic-gradient(
    $green 0% 70%,
    $orange 70% 80%,
    $red 80% 90%,
    $blue 90% 100%
  );
  border-radius: 50%;

  & h1 {
    z-index: 1;
  }
}

.tr-chart__center {
  position: absolute;
  text-align: center;
  width: 130px;
  height: 130px;
  background-color: $white;
  border-radius: 50%;
}

.tr-chart-legend__item {
  @include section-text;
}

.tr-chart-legend__statistic {
  & span:last-child {
    opacity: 0.5;
  }
}

.tr-chart-legend__dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.pr-chart {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
  height: 200px;
  background: conic-gradient(
    from -90deg at 50% 50%,
    $orange 0% 15%,
    $light-grey 15% 100%
  );
  border-radius: 50%;

  clip-path: polygon(0 0, 100% 0, 100% 51%, 0 50%);

  & h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
  }
}

.pr-chart__center {
  position: absolute;
  text-align: center;
  width: 160px;
  height: 160px;
  background-color: $white;
  border-radius: 50%;
}

.pr-chart-legend {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);

  @include section-text;
  display: block;
  width: 186px;
}

.attention-info__li {
  padding: 4px 12px;
  border-radius: 8px;
  border: 1px solid $light-grey;

  & img {
    width: 16px;
  }
}
