@media (width <= 1200px) {
  .container {
    max-width: 500px;
  }

  .height {
    height: 280px;
  }
}

@media (width <= 1140px) {
  body {
    height: auto;
  }
}

//   main {
//     align-items: center;
//   }

//   h2 {
//     margin-left: 0;
//   }

//   .section-title {
//     justify-content: center;
//   }

//   .progress {
//     gap: 150px;
//   }

//   .section-title__tooltip-text {
//     right: 0;
//   }

//   .main-sections {
//     flex-direction: column;
//   }
// }

// @media (width <= 470px) {
//   .tr-chart-container {
//     flex-direction: column;
//   }
// }
